[Unit]
Description=Habitat Director

[Service]
ExecStart=/bin/hab-director start -c /hab/svc/hab-director/controlbox.toml

[Install]
WantedBy=default.target

