[Unit]
Description=Flannel daemon


[Service]
ExecStart=/usr/local/bin/flanneld --etcd-endpoints=http://${ip}:4001

[Install]
WantedBy=multi-user.target
