registry:
  image: registry:2.5
  ports:
    - 127.0.0.1:5000:5000
  environment:
#    REGISTRY_HTTP_TLS_CERTIFICATE: /certs/server.crt
#    REGISTRY_HTTP_TLS_KEY: /certs/server.key
#    REGISTRY_AUTH: htpasswd
#    REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
#    REGISTRY_AUTH_HTPASSWD_REALM: Registry Realm
    REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /opt/dockerstorage
  volumes:
    - /opt/dockerstorage:/opt/dockerstorage
#    - /etc/pki/tls/certs:/certs
#    - /opt/auth:/auth
