[Unit]
Description=My Rigistry
Requires=docker.service
After=docker-compose-kubernetes

[Service]

Restart=always
RestartSec=3
ExecStart=/usr/local/bin/docker-compose -f /opt/controlbox/kubernetes/docker-compose.yml up dashboard

[Install]
WantedBy=multi-user.target

