[Unit]
Description=Habitat Director

[Service]
ExecStartPre=/bin/bash -c '/bin/hab svc load core/redis || echo "service already loaded"'
ExecStart=/bin/bash -c "/bin/hab sup run"


[Install]
WantedBy=default.target
