[Unit]
Description=Habitat Director

[Service]
ExecStart=/bin/hab-director start -c /opt/controlbox/registryhabitat/controlbox.toml

[Install]
WantedBy=default.target
