[Unit]
Description=My Rigistry
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
TimeoutStartSec=5m
TimeoutStopSec=10s
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker rm -f kubelet
ExecStartPre=/usr/bin/docker pull gcr.io/google_containers/hyperkube-amd64:v1.6.1
ExecStartPost=/sbin/iptables -P FORWARD ACCEPT
ExecStart=/usr/bin/docker run \
     --tty \
     --net=host \
     --pid=host \
     --privileged \
     --restart=unless-stopped \
     --name kubelet \
     --volume /:/rootfs:ro \
     --volume /sys:/sys:ro \
     --volume /dev:/dev \
     --volume /var/run/docker.sock:/var/run/docker.sock \
     --volume /var/lib/docker/:/var/lib/docker:rw \
     --volume /var/lib/kubelet/:/var/lib/kubelet:shared \
     --volume /var/run:/var/run:rw \
     --volume /opt/kubernetes/manifests/:/etc/kubernetes/manifests/ \
     --volume /opt/kubernetes/ssl/:/etc/kubernetes/ssl/ \
     gcr.io/google_containers/hyperkube-amd64:v1.6.1 \
     /hyperkube kubelet \
     --require-kubeconfig \
     --allow-privileged \
     --address=0.0.0.0 \
     --register-node=true \
     --node-ip=${NODE_IP} \
     --pod-manifest-path=/etc/kubernetes/manifests \
     --cluster-dns=10.0.0.10 \
     --cluster-domain=cluster.local \
     --kubeconfig=/etc/kubernetes/ssl/worker-kubeconfig.yaml \
     --tls-cert-file=/etc/kubernetes/ssl/slave-worker.pem \
     --tls-private-key-file=/etc/kubernetes/ssl/slave-worker-key.pem \
     --containerized \
     --v=2 \
     --node-labels=${KUB_CLUSTER_NAME} \
     --feature-gates="Accelerators=true" \

[Install]
WantedBy=multi-user.target
